@import './assets/global-styles/bootstrap';

.catalog {
    &__wrapper {
        max-height: 515px;
        overflow-y: scroll;
    }
}

.loading__feedback {
    background: $blue;
    color: $white;
    font-size: 22px;
    padding: $spacer;
    text-align: center;
}