@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.catalog__wrapper {
  max-height: 515px;
  overflow-y: scroll; }

.loading__feedback {
  background: #5D61EF;
  color: #ffffff;
  font-size: 22px;
  padding: 20px;
  text-align: center; }
