@import './assets/global-styles/bootstrap';

.search {
    &__form {
        @include dimensions(100%, 75px);
        position: relative;
        z-index: 1;
    }

    &__input {
        @include dimensions(100%, 100%);
        background: lighten($blue, 5%);
        border: none;
        border-radius: 5px 5px 0 0;
        color: $white;
        font-size: 18px;
        outline: none;
        padding-left: 75px;
        position: relative;
        z-index: 1;
        
        &::placeholder {
            color: $white;
        }
    }
}

.icon__search {
    @include position-top-left(absolute, 15px, 15px); 
    width: 45px;
    z-index: 2;
}