@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.search__form {
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 1; }

.search__input {
  width: 100%;
  height: 100%;
  background: #7478f1;
  border: none;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  padding-left: 75px;
  position: relative;
  z-index: 1; }
  .search__input::placeholder {
    color: #ffffff; }

.icon__search {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  z-index: 2; }
