@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.select__dropdown {
  background: transparent;
  border: none;
  height: 33px;
  outline: none; }
