@import './assets/global-styles/bootstrap';
.modal {
    &__wrapper {
        @include dimensions(100%, 100%);
        display: flex;
        justify-content: center;
        position: absolute;
    }
    &__background {
        @include dimensions(100%, 100%);
        @include position-top-left(fixed, 0, 0);
        animation: fadeIn 1.25s;
        background: rgba(93, 0, 0, 0.4);
        content:'';
        z-index: 2;
    }
    &__content {
        @include dimensions(800px, auto);
        animation: fadeInScale 0.75s;
        background: $off-white;
        border-radius: 5px;
        box-shadow: 0 $spacer/2 $spacer rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 0 auto;
        min-width: 600px;
        max-width: 900px;
        padding: $spacer*1.5;
        position: fixed;
        text-align: center;
        top: 50px;
        z-index: 10;
    }
    &__character {
        min-height: 150px;
    }
    &__name {
        margin-bottom: 50px;
    }
    &__stat {
        flex-basis: 25%;
        justify-content: center;
        align-items:center;
        
        &--lrg {
            flex-basis: 100%;
        }

        p {
            padding-left: 5px;
        }
    }
    &__stats, &__stat {
         display: flex;
         flex-wrap: wrap;
    }
    &__people-planet {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        padding-left:0;

        li {
            background: transparent;
            border: solid 1px black;
            border-radius: 3px;
            padding: 5px;
            margin: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                background: lighten($blue, 5%);
                border: solid 1px $blue;
                color: $white;
            }
        }
    }
} 

.icon__close {
    @include dimensions(25px, 25px);
    @include position-top-right(absolute, 25px, 25px); 
    cursor: pointer;
}

.placeholder {
    border-radius: 100%;
}

.group__text {
    margin: 0;
}