@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute; }

.modal__background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 1.25s;
  background: rgba(93, 0, 0, 0.4);
  content: '';
  z-index: 2; }

.modal__content {
  width: 800px;
  height: auto;
  animation: fadeInScale 0.75s;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  min-width: 600px;
  max-width: 900px;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 50px;
  z-index: 10; }

.modal__character {
  min-height: 150px; }

.modal__name {
  margin-bottom: 50px; }

.modal__stat {
  flex-basis: 25%;
  justify-content: center;
  align-items: center; }
  .modal__stat--lrg {
    flex-basis: 100%; }
  .modal__stat p {
    padding-left: 5px; }

.modal__stats, .modal__stat {
  display: flex;
  flex-wrap: wrap; }

.modal__people-planet {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 0; }
  .modal__people-planet li {
    background: transparent;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease-in-out; }
    .modal__people-planet li:hover {
      cursor: pointer;
      background: #7478f1;
      border: solid 1px #5D61EF;
      color: #ffffff; }

.icon__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer; }

.placeholder {
  border-radius: 100%; }

.group__text {
  margin: 0; }
