@import './assets/global-styles/bootstrap';

.catalog__single {
    @include dimensions(100%, auto);
    border-bottom: solid 1px $grey;
    cursor: pointer;
    display: block;
    padding: $spacer;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:first-child {
        border-top: solid 1px $grey;
    }

    &:hover {
        background: $off-white;

        .icon__open {
            @include dimensions($spacer, $spacer);
            @include position-top-right(absolute, 50%, 28px);
            margin-top: -$spacer/2; 
        }
    }
}

.character {
    &__stats, &__stat {
        display: flex;    
    }
    &__stat {
        align-items: center;
    }
    &__text {
        margin: 0 $spacer/2;
    }
    &__name {
        font-size: 24px;
        margin: 0 0 $spacer/2;
    }
}

.icon__birthday, .icon__height, .icon__genders, .icon__planet, .icon__group {
    height: 25px;

    &--lrg {
        @include dimensions(50px, 50px);
    }
    &--xlrg {
        @include dimensions(75px, 75px);
        margin-top: $spacer*2;
    }
}

.icon__genders {
    fill: $grey;
}

.icon__open {
    @include dimensions(15px, 15px);
    @include position-top-right(absolute, 50%, 30px);
    margin-top: -8px;    
    transition: all 0.2s ease-in-out;    
}