@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.catalog__single {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #cccccc;
  cursor: pointer;
  display: block;
  padding: 20px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  .catalog__single:first-child {
    border-top: solid 1px #cccccc; }
  .catalog__single:hover {
    background: #f1f1f1; }
    .catalog__single:hover .icon__open {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 28px;
      margin-top: -10px; }

.character__stats, .character__stat {
  display: flex; }

.character__stat {
  align-items: center; }

.character__text {
  margin: 0 10px; }

.character__name {
  font-size: 24px;
  margin: 0 0 10px; }

.icon__birthday, .icon__height, .icon__genders, .icon__planet, .icon__group {
  height: 25px; }
  .icon__birthday--lrg, .icon__height--lrg, .icon__genders--lrg, .icon__planet--lrg, .icon__group--lrg {
    width: 50px;
    height: 50px; }
  .icon__birthday--xlrg, .icon__height--xlrg, .icon__genders--xlrg, .icon__planet--xlrg, .icon__group--xlrg {
    width: 75px;
    height: 75px;
    margin-top: 40px; }

.icon__genders {
  fill: #cccccc; }

.icon__open {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8px;
  transition: all 0.2s ease-in-out; }
