@import "~normalize.css";
@import './assets/global-styles/bootstrap';

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #8e9eab;
    background: linear-gradient(to left, #eef2f3, #8e9eab);
}

.page__wrapper {
    display: flex;
    justify-content: center;
}

.app__wrapper {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 $spacer/2 $spacer rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 50px auto 50px auto;   
    max-width:600px;
    width:100%; 
}