$white:         #ffffff;
$off-white:     #f1f1f1; 
$black:         #000000;
$grey:          #cccccc;
$darker-grey:   #bbbbbb; 
$pomegranate:   #F6482D;
$wedgewood:     #4E789A;
$black-russian: #22222e;
$blue:          #5D61EF;