
// width and height
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}
// used for an ellipsis effect on the on of a line of text
@mixin ellipsis {
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// position mixin
@mixin position-top-left($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin position-top-right($position, $top, $right) {
    position: $position;
    top: $top;
    right: $right;
}

@mixin position-bottom-left($position, $bottom, $right) {
    position: $position;
    bottom: $bottom;
    right: $right;
}

@keyframes fadeInScale {
    0% {
		opacity: 0;
		transform: scale(0.95);
	}

    100% {
		opacity: 1;
		transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
		opacity: 0;
	}

    100% {
        opacity: 1;
    }
}

// full width overlay
@mixin overlay($z-index) {
	@include dimensions(100%, 100%);
	@include position-top-left(absolute, 0, 0);
	content:'';
	z-index: $z-index;
}
