@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.filter__singles {
  align-items: center;
  display: flex; }

.filter__single {
  margin-right: 20px; }
  .filter__single input {
    margin-right: 5px; }

.clear__filters {
  background: #5D61EF;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  padding: 10px; }
