@import './assets/global-styles/bootstrap';

.filter {
    &__singles {
        align-items: center;
        display: flex;
    }
    &__single {
        margin-right: $spacer;

        input {
            margin-right: 5px;
        }
    }
}

.clear__filters {
    background: $blue;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: 12px;
    padding: $spacer/2;
}